{% extends 'student/layout/student_base_page.html' %}

<!-- 标题-->
{% block title %}
    学员信息
{% endblock %}

<!-- 添加CSS -->
{% block css %}

{% endblock %}

<!-- 设置面包块导航名称 -->
{% block breadcrumb %}
    学员信息
{% endblock %}

<!-- 添加内容 -->
{% block content %}
    <!-- 内容02：查询区域-->
    <div class="queryArea" style="margin-top: 20px;">
        <form class="layui-form">
            {% csrf_token %}
            <div class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline" style="width:20%">
                        <label class="layui-form-label" for="q_sno_name"><b>学号/姓名: </b></label>
                        <div class="layui-input-block">
                            <input type="text" name="q_sno_name" id="q_sno_name" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" for="q_faculty"><b>院系: </b></label>
                        <div class="layui-input-block">
                            <!-- input type="text" name="q_faculty" id="q_faculty" class="layui-input" -->
                            <select name="q_faculty" id="q_faculty" lay-search="" lay-filter="q_faculty">
                                <option value="">请选择院系</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" for="q_major"><b>专业: </b></label>
                        <div class="layui-input-block">
                            <!--input type="text" name="q_major" id="q_major" class="layui-input" -->
                            <select name="q_major" id="q_major" lay-search="">
                                <option value="">请选择专业</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <input type="checkbox" id="q_status" name="q_status" lay-filter="q_status" title="在校">
                    </div>

                    <!-- 添加3个按钮 -->
                    <div class="layui-inline">
                        <button type="button" id="btnQuery" class="layui-btn">
                            <i class="fa fa-search"></i>&nbsp;查询
                        </button>
                        <button type="button" id="btnAll" class="layui-btn">
                            <i class="fa fa-bars" aria-hidden="true"></i>&nbsp;&nbsp;全部
                        </button>
                        <button type="button" id="btnAdd" class="layui-btn">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;添加
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <!-- 内容03：表格-->
    <table class="layui-hide" id="tableStudent" lay-filter="tableStudent"></table>

    <!--内容04  表格中的按钮 -->
    <script type="text/html" id="tableButton">
        <a id="btnEdit" class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">
            <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;查看
        </a>
        <a id="btnEdit" class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">
            <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;编辑
        </a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
            <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;删除
        </a>
    </script>

    <!-- 内容05: 弹出层表单 -->
    <div class="layerArea" style="display: none;padding: 40px 0 0 30px ">
        <form class="layui-form" id="layerForm" lay-filter="layerForm">
            {% csrf_token %}

            <div class="layui-form-item">
                <label class="layui-form-label" for="sno"><b>学号：</b></label>
                <div class="layui-input-inline">
                    <input type="text" id="sno" name="sno" class="layui-input">
                    <span class="error-msg" style="color:red; position: absolute"></span>
                </div>
                <label class="layui-form-label" for="name"><b>姓名：</b></label>
                <div class="layui-input-inline">
                    <input type="text" id="name" name="name" class="layui-input">
                    <span class="error-msg" style="color:red; position: absolute"></span>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" for="gender"><b>性别：</b></label>
                <div class="layui-input-inline">
                    <select id="gender" name="gender" lay-search="">
                        <option value="">请选择</option>
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
                    <span class="error-msg" style="color:red; position: absolute"></span>
                </div>
                <label class="layui-form-label" for="brithday"><b>出生日期：</b></label>
                <div class="layui-input-inline">
                    <input type="text" id="brithday" name="brithday" class="layui-input" placeholder="请选择日期">
                </div>

            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="mobile"><b>手机号码：</b></label>
                <div class="layui-input-inline">
                    <input type="text" id="mobile" name="mobile" class="layui-input">
                    <span class="error-msg" style="color:red; position: absolute"></span>
                </div>
                <label class="layui-form-label" for="email"><b>邮箱地址：</b></label>
                <div class="layui-input-inline">
                    <input type="text" id="email" name="email" class="layui-input">
                    <span class="error-msg" style="color:red; position: absolute"></span>
                </div>

            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label" for="address"><b>家庭住址：</b></label>
                    <div class="layui-input-inline">
                        <input type="text" id="address" name="address" class="layui-input" style="width:248%;">
                        <span class="error-msg" style="color:red; position: absolute"></span>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="faculty"><b>所在院系：</b></label>
                <div class="layui-input-inline">
                    <select type="text" id="faculty" name="faculty" lay-search="" lay-filter="faculty">
                        <option value="">请选择</option>
                    </select>
                    <span class="error-msg" style="color:red; position: absolute"></span>
                </div>
                <label class="layui-form-label" for="major"><b>所学专业：</b></label>
                <div class="layui-input-inline">
                    <select type="text" id="major" name="major" lay-search="" lay-filter="major">
                        <option value="">请选择</option>
                    </select>
                    <span class="error-msg" style="color:red; position: absolute"></span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="start_date"><b>入学时间：</b></label>
                <div class="layui-input-inline">
                    <input type="text" id="start_date" name="start_date" class="layui-input" placeholder="请选择日期">
                    <span class="error-msg" style="color:red; position: absolute"></span>
                </div>
                <label class="layui-form-label" for="status"><b>状态：</b></label>
                <div class="layui-input-inline">
                    <select type="text" id="status" name="status" lay-search="">
                        <option value="">请选择</option>
                        <option value="在校">在校</option>
                        <option value="毕业">毕业</option>
                        <option value="休学">休学</option>
                        <option value="开除">开除</option>
                    </select>
                    <span class="error-msg" style="color:red; position: absolute"></span>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

<!-- 添加JS -->
{% block js %}
    <script>
        // 定义查询状态值 -- 全局变量
        let STATUS = false;
        // 定义一个全局变量，记录当前哪个操作，1-添加 2-查看详情 3-修改
        let Operator = 0;

        // 入口函数
        $(function () {
            // 初始化表格
            initTable();
            // 加载院系的信息
            loadFaculty();
            // 跟进所选院系加载专业
            loadMajorByFaculty();
            // 所有的按钮的响应
            buttonClick();
            // 初始化日期选择框
            initDatePicker();
        });

        // 初始化表格
        function initTable() {
            // 试用贴table插件
            layui.use('table', function () {
                // 实例化一个表格
                let table = layui.table;

                // 渲染表格
                table.render({
                    elem: '#tableStudent'
                    , even: true //开启表格斑马线的效果
                    , url: '{% url 'list_student' %}' //请求数据的后台接口
                    , method: 'post'
                    , where: {
                        'q_sno_name': $('#q_sno_name').val(),
                        'q_faculty': $('#q_faculty').val(),
                        'q_major': $('#q_major').val(),
                        'q_status': STATUS,
                        'csrfmiddlewaretoken': "{{ csrf_token }}"
                    }
                    , cols: [[
                        {type: 'numbers', width: 60, title: '编号', align: 'center', sort: true}
                        , {field: 'sno', width: 120, title: '学号', align: 'center', sort: true}
                        , {field: 'name', width: 100, title: '姓名', align: 'center', sort: true}
                        , {field: 'gender', width: 80, title: '性别', align: 'center', sort: true}
                        , {field: 'mobile', width: 140, title: '手机号码', align: 'center', sort: true}
                        , {field: 'faculty__name', width: 220, title: '院系名称', align: 'center', sort: true}
                        , {field: 'major__name', width: 200, title: '专业名称', align: 'center', sort: true}
                        , {field: 'status', title: '状态', align: 'center', sort: true}
                        , {fixed: 'right', title: '操作', width: '20%', align: 'center', toolbar: '#tableButton'}
                    ]]
                    , page: true //启用nginx
                    , limit: 12  //设置分页的每页记录的条数
                    , limits: [12, 15, 30, 50, 75, 100]
                    , done: function (res, current, count) {
                        $('thead tr').css({'background-color': '#009688', 'color': 'white'});
                    }
                })

                // 侦听表格操作
                table.on('tool(tableStudent)', function (obj) {
                    // 获取当前行的数据
                    let lineData = obj.data;
                    // 判断做的什么操作
                    if(obj.event === 'detail'){
                        // 修改operator
                        Operator = 2;
                        // 加载弹出层
                        loadLayer("<b style='color:navy'>查看学生详情</b>")
                        } else if(obj.event === 'edit'){
                        // 修改operator
                        Operator = 3;
                        // 加载弹出层
                        loadLayer("<b style='color:navy'>修改学生信息</b>")
                        } else if(obj.event=== 'del'){
                        // 删除
                    }
                })
            })
        }

        // 加载院系数组的下拉框
        function loadFaculty() {
            // 使用layui中的form插件
            layui.use('form', function () {
                // 实例化一个form对象
                let form = layui.form;
                // 通过ajax获取数据并加载到下拉框
                $.ajax({
                    url: "{% url 'list_faculty' %}",
                    method: 'get',
                    dataType: 'json',
                    success: function (res) {
                        console.log(res);
                        if (res.status) {
                            // 通过jquery遍历加入下拉框
                            $.each(res.data, (index, value) => {
                                // 新建option标签
                                let item = $('<option>').attr('value', value.id).text(value.name);
                                // 附加到查询框
                                item.appendTo($('#q_faculty'));
                                // 附加到弹出层
                                item.appendTo($('#faculty'));
                            })
                            // 重新渲染
                            form.render();
                        } else {
                            layui.use('layui', function () {
                                layui.msg(res.error, {icon: 2, area: ['350px', '150px'], time: -1, btn: ['关闭']});
                            })
                        }
                    }
                })
            })
        }

        // 加载院系的数据下拉到专业
        function loadMajorByFaculty() {
            // 使用layui
            layui.use('form', function () {
                // 示例化一个form
                let form = layui.form;

                // 侦听查询区域院系的下拉选择框
                form.on('select(q_faculty)', function (data) {
                    // 获取选择的院系的编号
                    let selectData = data.value;
                    // 清空下拉框
                    $('#q_major').html("");
                    $('<option>').attr('value', "").text("请选择专业").appendTo('#q_major');
                    // Ajax请求
                    $.ajax({
                        url: "{% url 'query_major' %}",
                        method: 'post',
                        data: {
                            id: selectData,
                            csrfmiddlewaretoken: "{{ csrf_token }}"
                        },
                        dataType: 'json',
                        success: function (res) {
                            if (res.status) {
                                // 通过jquery遍历加入下拉框
                                $.each(res.data, (index, value) => {
                                    // 新建option标签
                                    $('<option>').attr('value', value.id).text(value.name).appendTo('#q_major');


                                });
                                // 重新渲染
                                form.render();
                            } else {
                                layui.use('layui', function () {
                                    layer.msg(res.error, {icon: 2, area: ['350px', '150px'], time: -1, btn: ['关闭']});
                                })
                            }
                        }
                    })
                });

                // 侦听弹出框院系下拉选择
                form.on('select(faculty)', function (data) {
                    // 获取选择的院系的编号
                    let selectData = data.value;
                    // 清空下拉框
                    $('#major').html("");
                    $('<option>').attr('value', "").text("请选择").appendTo('#major');
                    // Ajax请求
                    $.ajax({
                        url: "{% url 'query_major' %}",
                        method: 'post',
                        data: {
                            id: selectData,
                            csrfmiddlewaretoken: "{{ csrf_token }}"
                        },
                        dataType: 'json',
                        success: function (res) {
                            if (res.status) {
                                // 通过jquery遍历加入下拉框
                                $.each(res.data, (index, value) => {
                                    // 新建option标签
                                    $('<option>').attr('value', value.id).text(value.name).appendTo('#major');

                                });
                                // 重新渲染
                                form.render();
                            } else {
                                layui.use('layui', function () {
                                    layer.msg(res.error, {icon: 2, area: ['350px', '150px'], time: -1, btn: ['关闭']});
                                })
                            }
                        }
                    })
                })
            })
        }

        // 所有按钮的响应
        function buttonClick() {
            // 响应查询的按钮
            $('#btnQuery').on('click', function () {
                // 判断复选框是否选中
                STATUS = $('#q_status').next().hasClass('layui-form-checked');
                console.log(STATUS);
                // 渲染表格
                initTable();
            });

            // 显示全部的按钮
            $('#btnAll').on('click', function () {
                location.reload();
            });

            // 添加按钮
            $('#btnAdd').on('click', function () {
                // 修改Operator的值
                Operator= 1;
                loadLayer("<b style='color: navy'>添加学生</b>");
            })
        }


        // 监听复选框的状态
        function checkboxStatus() {
            // 使用form表单
            layui.use('form', function () {
                // 实例化回调函数
                let form = layui.form;
                // 侦听
                form.on('checkbox(q_status)', function (obj) {
                    console.log(obj.value);
                })
            })
        }

        // 加载弹出框
        function loadLayer(title) {
            // 弹出层的按钮准备
            let btns = ["确定","取消"];
            // 判断
            if (Operator === 2){
                btns = ['关闭']
            }

            layui.use(['layer', 'form'], function () {
                let layer = layui.layer;
                let form = layer.form;

                layer.open({
                    type: 1,
                    title: title,
                    area: ['50%', '80%'],
                    content: $('.layerArea'),
                    btn: btns,
                    resize: false,

                    // 函数
                    yes: function (index, layero){
                        // 如果是查看详情的按钮，点击按钮，直接关闭
                        if (Operator ===2){ layer.close(index);}
                    }
                })
            })
        }

        // 初始化日期选择框
        function initDatePicker() {
            layui.use('laydate', function () {
                // 实例化
                let laydate = layui.laydate;

                // 渲染
                laydate.render({
                    elem: '#brithday',
                });
                // 渲染
                laydate.render({
                    elem: '#start_date',
                });
            });
        }

    </script>
{% endblock %}


















