<!-- 引入页面模板 -->
{% extends 'basic/layout/basic_base_page.html' %}

<!-- 修改标题 -->
{% block title %}
    院系管理
{% endblock %}

<!-- 修改当前页面css -->
{% block css %}
    <style>
        .contentArea i:hover {
            color: red;
            font-weight: bold;
        }
    </style>
{% endblock %}

<!-- 添加面包屑的名称 -->
{% block breadcrumb %}
    院系管理
{% endblock %}

<!-- 修改当前页面的内容 -->
{% block content %}
    <!--内容03 展示院系 -->
    <div class="contentArea">
    </div>

{% endblock %}

<!-- 添加当前页面的js文件 -->
{% block js %}
    <script>
        // 入口函数
        $(function () {
            // 加载院系数据展示在页面
            loadData();
            //buttonClick();
        });

        // 加载数据
        function loadData() {
            // 使用异步请求获取数据
            $.ajax({
                url: "{% url 'list_faculty' %}",
                method: 'get',
                dataType: 'json',
                success: function (res) {
                    console.log(res);
                }
            })
        }

    </script>
{% endblock %}
