<!-- 引入页面模板 -->
{% extends 'basic/layout/basic_base_page.html' %}

<!-- 修改标题 -->
{% block title %}
    专业管理
{% endblock %}

<!-- 修改当前页面css -->
{% block css %}

{% endblock %}

<!-- 添加面包屑的名称 -->
{% block breadcrumb %}
    专业管理
{% endblock %}

<!-- 修改当前页面的内容 -->
{% block content %}
    <!-- 内容03 -->
    <table class="layui-hide" id="tableArea"></table>

    <!--内容04  表格中的按钮 -->
    <script type="text/html" id="tableButton">
      <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">
          <i class="layui-icon layui-icon-edit"></i>编辑
      </a>
      <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
          <i class="layui-icon layui-icon-delete"></i>删除
      </a>

    <!-- 内容05: 弹出层的内容 -->
    <div id="layerContent" style="width: 60%;height: 60%; background-color: lightblue;margin: 30px auto">
        弹出层内容
    </div>
</script>
{% endblock %}

<!-- 添加当前页面的js文件 -->
{% block js %}
<script>
    // 入口函数
    $(function (){
        // 初始化表格
        initTable();

        // 响应按钮点击事件
        buttonClick();
    });

    // 初始化表格
    function initTable(queryStr=""){
        // 使用layui table插件
        layui.use('table', function (){
            //实例化一个表格对象
            let table = layui.table;

            // 开始渲染表格
            table.render({
                elem: '#tableArea'
                ,url: "{% url 'list_major' %}"
                ,method: 'post'
                , where:{
                    inputStr: queryStr,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                }
                ,even: true //表格斑马线效果
                ,cols:[[
                    {type:'numbers', width:60, title: '编号', align:'center',sort: true}
                    ,{field:'faculty__name', width:280, title: '院系名称', align:'center', sort: true}
                    ,{field:'name',  title: '专业名称', align:'center', sort: true}
                    ,{fixed:'right', title: '操作', width: '20%', align: 'center', toolbar:'#tableButton'}
                ]]
                ,page: true //开启分页
                ,limit: 16
                ,limits: [16, 30, 45, 60, 75]
                ,toolbar: false //是否展示顶部工具栏
                ,text: '加载数据出现异常，请联系管理员！' //加载数据出现异常时的文字展示
                ,done: function (res, current, count){
                    $('thead tr').css({'background-color':'#009688', 'color':'white'})
                }
            });
        })
    }

    // 按钮点击的事件
    function buttonClick(){
        // 查询按钮
        $('#btnQuery').on('click', function (){
            // 获取文本框的值
            let inputStr = $('#queryStr').val();
            initTable(inputStr);
        })

        // 显示全部的按钮
        $('#btnAll').on('click', function (){
            // 让页面重新加载
            location.reload();
        })

        // 添加按钮
        $('#btnAdd').on('click', function (){
            // 弹出层
            layui.use('layer', function (){
                // 实例化一个弹出层对象
                let layer = layui.layer;
                 // 展示
                layer.open({
                    type: 1, //设置弹出层的类型
                    title: '添加数据',
                    area: ['500px', '300px'],
                    btn: ['确定', '取消'],
                    content: $('#layerContent'),
                    anim: 1,

                })
            });
        })
    }
</script>

{% endblock %}